*.class
*.iml

# Package Files #
*.jar
*.war
*.ear
*.iml

target/
.idea

# eclipse
affinity-test/.classpath
affinity-test/.project
affinity-test/.settings/
affinity/.classpath
affinity/.project
affinity/.settings/
